@model AMBRD.Models.ViewModels.VehicleTypeDTO
@{
    ViewBag.Title = "AddVehicleType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddVehicleType", "Vehicle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-wrapper">
        <div class="page-body-wrapper">
            <div class="page-sidebar">

            </div>  
             <div class="page-body"> 
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>
                                        Add Vehicle Type
                                    </h3>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="/Default/Dashboard"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Master Entries</li>
                                    <li class="breadcrumb-item active">Add Vehicle Type</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row product-adding">
                        <div class="col-xl-12">

                            <div class="card">

                                <div class="card-body">
                                    <div class="digital-add needs-validation">
                                        @if (TempData["msg"] != null)
                                        {
                                            string msg = TempData["msg"].ToString();
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (msg == "ok")
                                                    {
                                                        <div class="alert alert-success">
                                                            Saved Successfully.
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger">
                                                            @msg
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                         
                                        @*<div class="form-group row">
            <div class="col-xl-3 col-md-4">
                <label for="validationCustom2">Vehicle Category</label>
            </div>
            <div class="col-xl-8 col-md-7">
                @Html.DropDownListFor(a => a.VehicleCatId, Model.CategoryList, "Select Type", new { @class = "form-control" })
            </div>
        </div>*@
                                        <div class="form-group row editor-label">
                                            <div class="col-xl-3 col-md-4">
                                                <label>Image</label>
                                            </div>
                                            <div class="col-xl-8 col-md-7">
                                                @Html.TextBoxFor(a => a.ImageFile, new { type = "file", @class = "form-control", required = "required" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-xl-3 col-md-4">
                                                <label for="validationCustom2">Vehicle Type</label>
                                            </div>
                                            <div class="col-xl-8 col-md-7">
                                                @Html.TextBoxFor(a => a.VehicleTypeName, new { @class = "form-control", required = "required" })
                                            </div>
                                        </div>
                                        <div style="margin-top:2%">
                                            <h2>Price List</h2>
                                            <b>Under 500 km Price</b>
                                            <table class="table-bordered table">
                                                <thead>
                                                    <tr>
                                                        <th>Serial No.</th>
                                                        <th>Distance (IN KM)</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>0 - 02</td>
                                                        <td>@Html.TextBoxFor(a => a.under0_2KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>03 - 08</td>
                                                        <td>@Html.TextBoxFor(a => a.under3_8KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>09-15</td>
                                                        <td>@Html.TextBoxFor(a => a.under9_15KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>16 - 25</td>
                                                        <td>@Html.TextBoxFor(a => a.under16_25KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>26-40</td>
                                                        <td>@Html.TextBoxFor(a => a.under26_40KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>41 - 60</td>
                                                        <td>@Html.TextBoxFor(a => a.under41_60KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>61-80</td>
                                                        <td>@Html.TextBoxFor(a => a.under61_80KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>81-110</td>
                                                        <td>@Html.TextBoxFor(a => a.under81_110KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>111-150</td>
                                                        <td>@Html.TextBoxFor(a => a.under111_150KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>151-200</td>
                                                        <td>@Html.TextBoxFor(a => a.under151_200KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>201-250</td>
                                                        <td>@Html.TextBoxFor(a => a.under201_250KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>251-300</td>
                                                        <td>@Html.TextBoxFor(a => a.under251_300KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>301-351</td>
                                                        <td>@Html.TextBoxFor(a => a.under301_350KM, new { @class = "form-control", placeholder = "Enter value", required = "required" })</td>
                                                    </tr>
                                                    @*<tr>
            <td>14</td>
            <td>401-450</td>
            <td>@Html.TextBoxFor(a => a.under401_450KM, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>15</td>
            <td>451-500</td>
            <td>@Html.TextBoxFor(a => a.under451_500KM, new { @class = "form-control" })</td>
        </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="margin-top:2%">
                                            <b>Above 500 km Price</b>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Serial No.</th>
                                                        <th> K.M. Reading Garage to Garage</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Start up point to dropping point and back to start up point</td>
                                                        <td>@Html.TextBoxFor(a => a.Above500KM, new { @class = "form-control", placeholder = "Enter value",required="required"})</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="product-buttons text-center">
                                                <input type="submit" value="Submit" class="btn btn-secondary" style="margin-top:5px;" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div>
}

