@model AMBRD.Models.ViewModels.AmbulanceReportDTO
@{
    ViewBag.Title = "DailyRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="page-sidebar">

        </div>
        <!-- Page Sidebar Ends-->


        <div class="page-body">

            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header-left">
                                <h3>
                                    Booking Data
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item">Booking Report</li>
                                <li class="breadcrumb-item active">Daily Booking Data</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">


                                @if (Model.AmbulanceYMWDRecord == null)
                                {
                                    if (TempData["msg"] != null)
                                    {
                                        <h2 style="color: red;">@TempData["msg"]</h2>
                                    }
                                }
                                else
                                {
                                    <div class="card-body ">
                                        <table class="display" id="basic-1">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Patient Name
                                                    </th>
                                                    <th>
                                                        Driver Name
                                                    </th>
                                                    <th>
                                                        Distance
                                                    </th>
                                                    <th>
                                                        PickUp Address
                                                    </th>
                                                    <th>
                                                        Drop Address
                                                    </th>
                                                    <th>
                                                        Amount
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AmbulanceYMWDRecord)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.PatientName
                                                        </td>
                                                        <td>
                                                            @item.DriverName
                                                        </td>
                                                        <td>
                                                            @Math.Round((double)item.Distance)
                                                        </td>
                                                        <td>
                                                            @item.ReverseStartLatLong_To_Location
                                                        </td>
                                                        <td>
                                                            @item.ReverseEndLatLong_To_Location
                                                        </td>
                                                        <td>@Math.Round((double)item.Amount) Rs.</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>